{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Пользователи бота{% endblock title %} {"title": "Пользователи бота"})

{% block extra_css %}
    <link href="{% static 'libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet"
          type="text/css"/>
{% endblock extra_css %}

{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">Статистика</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Главная</a></li>
                                    <li class="breadcrumb-item active">Статистика</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <!-- card -->
                        <div class="card card-h-100">
                            <!-- card body -->
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1">
                                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Количество пользователей</span>
                                        <h4 class="mb-3">
                                            <span class="counter-value" data-target="120">0</span>
                                        </h4>
                                    </div>

                                    <div class="flex-shrink-0 text-end dash-widget">
                                        <div id="mini-chart1" data-colors='["#1c84ee", "#33c38e"]'
                                             class="apex-charts"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <!-- card -->
                        <div class="card card-h-100">
                            <!-- card body -->
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1">
                                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Доход за месяц</span>
                                        <h4 class="mb-3">
                                            <span class="counter-value" data-target="180000">0</span>₽
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <!-- card -->
                        <div class="card card-h-100">
                            <!-- card body -->
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1">
                                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Средняя активность</span>
                                        <h4 class="mb-3">
                                            <span class="counter-value" data-target="29.5">0</span>
                                        </h4>
                                    </div>

                                    <div class="flex-shrink-0 text-end dash-widget">
                                        <div id="mini-chart2" data-colors='["#1c84ee", "#33c38e"]'
                                             class="apex-charts"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title mb-0">Прирост пользователей</h4>
                            </div>
                            <div class="card-body">
                                <div id="spline_area" data-colors='["#1c84ee", "#34c38f"]' class="apex-charts"
                                     dir="ltr"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title mb-0">Подписки</h4>
                            </div>
                            <div class="card-body">
                                <div id="spline_area_2" data-colors='["#1c84ee", "#34c38f"]' class="apex-charts"
                                     dir="ltr"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title mb-0">График активности пользователей</h4>
                            </div>
                            <div class="card-body">
                                <div id="column_chart_datalabel" data-colors='["#1c84ee"]' class="apex-charts"
                                     dir="ltr"></div>
                            </div>
                        </div>
                        <!--end card-->
                    </div>
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title mb-0">График дохода</h4>
                            </div>
                            <div class="card-body">
                                <div id="spline_area_3" data-colors='["#34c38f"]' class="apex-charts"
                                     dir="ltr"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page-content -->


        {% block footer %}
            {% include 'partials/footer.html' %}
        {% endblock footer %}
    </div>
{% endblock content %}

{% block extra_js %}

    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>

    <!-- Plugins js-->
    <script src="{% static 'libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
    <script src="{% static 'libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js' %}"></script>

    <script>
        function getChartColorsArray(e) {
            var e = $(e).attr("data-colors");
            return (e = JSON.parse(e)).map(function (e) {
                e = e.replace(" ", "");
                if (-1 == e.indexOf("--")) return e;
                e = getComputedStyle(document.documentElement).getPropertyValue(e);
                return e || void 0
            })
        }

        var barchartColors = getChartColorsArray("#mini-chart1"), options = {
            series: [90, 30],
            labels: ['С подпиской', 'Без подписки'],
            chart: {type: "donut", height: 110},
            colors: barchartColors,
            legend: {show: !1},
            dataLabels: {enabled: !1}
        }, chart = new ApexCharts(document.querySelector("#mini-chart1"), options)
        chart.render()

        var barchartColors = getChartColorsArray("#mini-chart2"), options = {
            series: [22, 15],
            labels: ['С подпиской', 'Без подписки'],
            chart: {type: "donut", height: 110},
            colors: barchartColors,
            legend: {show: !1},
            dataLabels: {enabled: !1}
        }, chart = new ApexCharts(document.querySelector("#mini-chart2"), options)
        chart.render()

        var splneAreaColors = getChartColorsArray("#spline_area"), options = {
            chart: {height: 350, type: "area", toolbar: {show: !1}},
            dataLabels: {enabled: !1},
            stroke: {curve: "smooth", width: 3},
            series: [{name: "series1", data: [49, 58, 68, 70, 90, 115, 130]}],
            colors: splneAreaColors,
            xaxis: {
                type: "datetime",
                categories: ["2022-11-01", "2022-11-02", "2022-11-03", "2022-11-04", "2022-11-05", "2022-11-06", "2022-11-07"]
            },
            grid: {borderColor: "#f1f1f1"},
            tooltip: {x: {format: "dd/MM/yy HH:mm"}}
        };
        (chart = new ApexCharts(document.querySelector("#spline_area"), options)).render();

        var lineDatalabelColors = getChartColorsArray("#spline_area_2"), options = {
            chart: {height: 380, type: "line", zoom: {enabled: !1}, toolbar: {show: !1}},
            colors: lineDatalabelColors,
            dataLabels: {enabled: !1},
            stroke: {width: [3, 3], curve: "straight"},
            series: [{name: "С подпиской", data: [70, 80, 90, 85, 93, 95, 90]}, {
                name: "Без подписки",
                data: [30, 21, 24, 22, 25, 27, 30]
            }],
            grid: {row: {colors: ["transparent", "transparent"], opacity: .2}, borderColor: "#f1f1f1"},
            markers: {style: "inverted", size: 0},
            xaxis: {categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"], title: {text: "Month"}},
            yaxis: {title: {text: "Temperature"}, min: 5, max: 40},
            legend: {position: "top", horizontalAlign: "right", floating: !0, offsetY: -25, offsetX: -5},
            responsive: [{breakpoint: 600, options: {chart: {toolbar: {show: !1}}, legend: {show: !1}}}]
        }, chart = new ApexCharts(document.querySelector("#spline_area_2"), options);
        chart.render();

        var columnDatalabelColors = getChartColorsArray("#column_chart_datalabel"), options = {
            chart: {height: 350, type: "bar", toolbar: {show: !1}},
            plotOptions: {bar: {borderRadius: 10, dataLabels: {position: "top"}}},
            dataLabels: {
                enabled: !0, formatter: function (e) {
                    return e
                }, offsetY: -22, style: {fontSize: "12px", colors: ["#304758"]}
            },
            series: [{name: "Активность", data: [15, 17, 16, 20, 23, 19, 21, 18, 15, 25, 23, 29.5]}],
            colors: columnDatalabelColors,
            grid: {borderColor: "#f1f1f1"},
            xaxis: {
                categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                position: "top",
                labels: {offsetY: -18},
                axisBorder: {show: !1},
                axisTicks: {show: !1},
                crosshairs: {
                    fill: {
                        type: "gradient",
                        gradient: {
                            colorFrom: "#D8E3F0",
                            colorTo: "#BED1E6",
                            stops: [0, 100],
                            opacityFrom: .4,
                            opacityTo: .5
                        }
                    }
                },
                tooltip: {enabled: !0, offsetY: -35}
            },
            yaxis: {
                axisBorder: {show: !1}, axisTicks: {show: !1}, labels: {
                    show: !1, formatter: function (e) {
                        return e
                    }
                }
            },
            title: {
                text: "Активность пользователей по неделям",
                floating: !0,
                offsetY: 330,
                align: "center",
                style: {color: "#444", fontWeight: "500"}
            }
        };
        (chart = new ApexCharts(document.querySelector("#column_chart_datalabel"), options)).render();

        var splneAreaColors = getChartColorsArray("#spline_area_3"), options = {
            chart: {height: 350, type: "area", toolbar: {show: !1}},
            dataLabels: {enabled: !1},
            stroke: {curve: "smooth", width: 3},
            series: [{name: "Получено за месяц", data: [140000, 160000, 190000, 170000, 186000, 190000, 180000]}],
            colors: splneAreaColors,
            xaxis: {
                type: "datetime",
                categories: ["2018-09-19T00:00:00", "2018-09-19T01:30:00", "2018-09-19T02:30:00", "2018-09-19T03:30:00", "2018-09-19T04:30:00", "2018-09-19T05:30:00", "2018-09-19T06:30:00"]
            },
            grid: {borderColor: "#f1f1f1"},
            tooltip: {x: {format: "dd/MM/yy HH:mm"}}
        };
        (chart = new ApexCharts(document.querySelector("#spline_area_3"), options)).render();
    </script>
{% endblock extra_js %}