[Unit]
Descripiton=Celery

[Service]
WorkingDirectory=/home/sale_bot/src
User=root
ExecStart=/home/sale_bot/venv/bin/celery -A core worker
TimeoutSec=5
Restart=always

[Install]
WantedBy=multi-user.target