{% for item in rows %}
    <tr>
        <td>
            <div class="form-check font-size-16">
                <input class="form-check-input" type="checkbox" id="check_{{ item.pk }}">
                <label class="form-check-label" for="check_{{ item.pk }}"></label>
            </div>
        </td>
        <td><a href="{% url 'user_detail' pk=item.pk %}">{{ item.pk }}</a></td>
        <td>{{ item.username }}</td>

        <td>{{ item.first_name }}</td>
        <td>{{ item.last_name }}</td>
        <td>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle card-drop" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <i class="mdi mdi-dots-horizontal font-size-18"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a href="{% url 'user_detail' pk=item.pk %}" class="dropdown-item"><i
                            class="mdi mdi-pencil font-size-16 text-success me-1"></i>Изменить</a>
                    </li>
                    <li><a href="#" class="dropdown-item"><i
                            class="mdi mdi-trash-can font-size-16 text-danger me-1"></i>Удалить</a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
{% endfor %}