{% if page_max > 1 %}
    {% if page > 2 %}
        <li class="page-item">
            <a class="page-link" href="javascript: loadThisContent({{ last }});" aria-label="Previous">
                <i class="mdi mdi-chevron-left"></i>
            </a>
        </li>
    {% endif %}

    {% for counter in page_range %}
        {% if counter == page %}
            <li class="page-item active"><a class="page-link" href="javascript: loadThisContent({{ counter }});">{{ counter }}</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="javascript: loadThisContent({{ counter }});">{{ counter }}</a></li>
        {% endif %}
    {% endfor %}

    {% if page_last < page_max %}
    <li class="page-item">
        <a class="page-link" href="javascript: loadThisContent({{ next }});" aria-label="Next">
            <i class="mdi mdi-chevron-right"></i>
        </a>
    </li>
    {% endif %}
{% endif %}