{% extends 'partials/base.html' %}
{% load static %}

{% block title %}{{ compilation.name }}{% endblock title %} {"title": "{{ compilation.name }}"})

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'libs/glightbox/dist/css/glightbox.min.css' %}">
{% endblock extra_css %}

{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">{{ compilation.name }}</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Главная</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'compilation_list' %}">Подборки</a></li>
                                    <li class="breadcrumb-item active">Пользователи бота</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-md-12 col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Обзор</h3>
                            </div>
                            <div class="card-body">
                                <div class="card-img-top img-fluid">
                                    <a href="{% static 'images/small/img-1.jpg' %}" class="image-popup">
                                        <img src="{% static 'images/small/img-1.jpg' %}" class="img-fluid"
                                             alt="work-thumbnail">
                                    </a>
                                </div>
                                <form>
                                    <div class="mb-4">
                                        <label class="form-label" for="default-input">Медиа</label>
                                        <input class="form-control" type="file" id="media" name="media"
                                               placeholder="Название">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label" for="default-input">Название</label>
                                        <input class="form-control" type="text" id="name" name="name"
                                               placeholder="Название">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label" for="default-input">Дата</label>
                                        <input class="form-control" type="text" id="date-compilation" name="date">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label" for="default-input">Текст</label>
                                        <div id="ckeditor-classic"></div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="form-check form-check-right">
                                            <input class="form-check-input" type="checkbox" id="formCheckRight2">
                                            <label class="form-check-label" for="formCheckRight2">
                                                Завершенный обзор
                                            </label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Гид</h3>
                            </div>
                            <div class="card-body">
                                <div class="card-img-top img-fluid">
                                    <a href="{% static 'images/small/img-1.jpg' %}" class="image-popup">
                                        <img src="{% static 'images/small/img-1.jpg' %}" class="img-fluid"
                                             alt="work-thumbnail">
                                    </a>
                                </div>
                                <form>
                                    <div class="mb-4">
                                        <label class="form-label" for="default-input">Медиа</label>
                                        <input class="form-control" type="file" id="media" name="media"
                                               placeholder="Название">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label" for="default-input">Текст</label>
                                        <div id="ckeditor-gid"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Посты</h3>
                            </div>
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->


        {% block footer %}
            {% include 'partials/footer.html' %}
        {% endblock footer %}
    </div>
    <!-- end main content-->
{% endblock content %}

{% block extra_js %}
    <!-- ckeditor -->
    <script src="{% static 'libs/@ckeditor/ckeditor5-build-classic/build/ckeditor.js' %}"></script>

    <script src="{% static 'libs/glightbox/dist/js/glightbox.min.js' %}"></script>

    <script src="{% static 'libs/flatpickr/dist/flatpickr.min.js' %}"></script>

    <script>
        lightbox = GLightbox({selector: ".image-popup", title: !1})
    </script>

    <script>
        ClassicEditor.create(document.querySelector("#ckeditor-classic")).then(function (e) {
            e.ui.view.editable.element.style.height = "200px"
        }).catch(function (e) {
            console.error(e)
        });

        ClassicEditor.create(document.querySelector("#ckeditor-gid")).then(function (e) {
            e.ui.view.editable.element.style.height = "200px"
        }).catch(function (e) {
            console.error(e)
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            flatpickr("#date-compilation", {
                defaultDate: new Date
            })
        })
    </script>
{% endblock extra_js %}