{% load static %}

{% for compilation in rows %}
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-img-top img-fluid">
                {% if compilation.contents.first.type == 0 %}
                    <a href="{{ compilation.contents.first.file.url }}" class="image-popup">
                        <img src="{{ compilation.contents.first.file.url }}" class="img-fluid"
                             alt="work-thumbnail">
                    </a>
                {% elif compilation.contents.first.type == 1 %}
                    <video controls="controls" style="width: 100%; height: auto; max-height: 100%;"
                           src="{{ compilation.contents.first.file.url }}"></video>
                {% endif %}
            </div>
            <div class="card-header">
                <h2 class="card-title">{{ compilation.name }}</h2>
                <h5 class="card-title-desc">Дата отправки: {{ compilation.datetime_send }}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">{{ compilation.text | safe }}</p>
                <div class="row">
                    <div class="col-6">
                        <a href="{% url 'compilation_detail' pk=compilation.pk %}"
                            class="btn btn-primary waves-effect waves-light">Перейти</a>
                    </div>
                    <div class="col-6">
                        <a href="{% url 'delete_compilation' pk=compilation.pk %}"
                            class="btn btn-danger waves-effect waves-light">Удалить</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        lightbox = GLightbox({selector: ".image-popup", title: !1})
    </script>
{% endfor %}