{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Пользователи бота{% endblock title %} {"title": "Пользователи бота"})

{% block extra_css %}
    <!-- DataTables -->
    <link href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}" rel="stylesheet" type="text/css"/>

    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css"/>

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css"/>



{% endblock extra_css %}

{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">Пользователи бота</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Главная</a></li>
                                    <li class="breadcrumb-item active">Пользователи бота</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <div class="search-box me-2 mb-2 d-inline-block">
                                        <div class="position-relative">
                                            <input type="text" class="form-control" id="search" placeholder="Поиск...">
                                            <i class="bx bx-search-alt search-icon"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mb-3">
                                        <select class="form-control" name="choices-single-no-search"
                                                id="choices-single-no-search">
                                            <option value="Choice 1" selected>Все</option>
                                            <option value="Choice 2">Только подписчики</option>
                                            <option value="Choice 3">Все исключая подписчиков</option>
                                            <option value="Choice 3">Кто не продлил</option>
                                            <option value="Choice 3">Кто не продлил более 1 мес</option>
                                            <option value="Choice 3">Ни разу не платил</option>
                                            <option value="Choice 3">Все у кого есть дни доступа</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="text-sm-end">
                                        <button type="button"
                                                class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2">
                                            <i class="mdi mdi-plus me-1"></i> Новый пользователь
                                        </button>
                                    </div>
                                </div>
                                <!-- end col-->
                            </div>
                            <table class="table align-middle table-nowrap table-check">
                                <thead>
                                <tr>
                                    <th style="width: 20px;" class="align-middle">
                                        <div class="form-check font-size-16">
                                            <input class="form-check-input" type="checkbox" id="checkAll">
                                            <label class="form-check-label" for="checkAll"></label>
                                        </div>
                                    </th>
                                    <th>Telegram ID</th>
                                    <th>Username</th>
                                    <th>Телефон</th>
                                    <th>Активность</th>
                                    <th>Подписка</th>
                                    <th>Дата регистрации</th>
                                    <th>Действие</th>
                                </tr>
                                </thead>
                                <tbody id="datatable">
                                <tr>
                                    <td>
                                        <div class="form-check font-size-16">
                                            <input class="form-check-input" type="checkbox" id="customerlistcheck01">
                                            <label class="form-check-label" for="customerlistcheck01"></label>
                                        </div>
                                    </td>
                                    <td>Stephen Rash</td>
                                    <td>
                                        <p class="mb-1">325-250-1106</p>
                                        <p class="mb-0">StephenRash@teleworm.us</p>
                                    </td>

                                    <td>2470 Grove Street
                                        Bethpage, NY 11714
                                    </td>
                                    <td><span class="badge bg-success font-size-12"><i class="mdi mdi-star me-1"></i> 4.2</span>
                                    </td>
                                    <td>$5,412</td>
                                    <td>07 Oct, 2019</td>
                                    <td>
                                        <div class="dropdown">
                                            <a href="#" class="dropdown-toggle card-drop" data-bs-toggle="dropdown"
                                               aria-expanded="false">
                                                <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a href="#" class="dropdown-item"><i
                                                        class="mdi mdi-pencil font-size-16 text-success me-1"></i>Изменить</a>
                                                </li>
                                                <li><a href="#" class="dropdown-item"><i
                                                        class="mdi mdi-message-bulleted font-size-16 text-primary me-1"></i>Отправить
                                                    сообщение</a></li>
                                                <li><a href="#" class="dropdown-item"><i
                                                        class="mdi mdi-block-helper font-size-16 text-danger me-1"></i>Заблокировать</a>
                                                </li>
                                                <li><a href="#" class="dropdown-item"><i
                                                        class="mdi mdi-trash-can font-size-16 text-danger me-1"></i>Удалить</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->


        {% block footer %}
            {% include 'partials/footer.html' %}
        {% endblock footer %}
    </div>
    <!-- end main content-->
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <!-- Buttons examples -->
    <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'libs/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <script>
        function getCookie(c_name) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1) {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start, c_end));
                }
            }
            return "";
        }

        $(function () {
            $.ajaxSetup({
                headers: {"X-CSRFToken": getCookie("csrftoken")}
            });
        });
        var loadThisContent = function () {
            $.ajax({
                url: '{% url 'table_profiels' %}',
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    console.log($(this))
                    $('#datatable').html(data.rows);
                }
            })
        };
        $('#search').keyup(function () {
            $.ajax({
                data: {"search": $(this).val()},
                type: 'POST',
                url: '{% url 'table_profiels' %}',
                dataType: 'json',
                success: function (data) {
                    console.log()
                    $('#datatable').html(data.rows);
                }
            })
        })
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            loadThisContent()
            var e = document.querySelectorAll("[data-trigger]");
            for (i = 0; i < e.length; ++i) {
                var a = e[i];
                new Choices(a, {
                    placeholderValue: "This is a placeholder set in the config",
                    searchPlaceholderValue: "This is a search placeholder"
                })
            }
            new Choices("#choices-single-no-search", {
                searchEnabled: !1,
                removeItemButton: !1,
            })
        })
    </script>

{% endblock extra_js %}